%h1 Listing projects

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Current progress
      %th
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.description
        %td= project.progress
        %td= link_to 'Show', project
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'View projects', projects_view_path
= link_to 'New Project', new_project_path
