%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description
%p
  %b Current progress:
  = @project.current_progress

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
