!!!
%html
  %head
    %title ProjectsOverview
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{src: "https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"}
    = csrf_meta_tags
  %body
    = yield
    %div
      = debug(params) if Rails.env.development?
